* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ================================ Common ============================ */
img {
    display: block;
}

a {
    text-decoration: none;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.btn {
    padding: 0 16px;
    min-width: 186px;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.main-content {
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
}

/* ============================ Header ================================= */
.header {
    position: sticky;
    top: -44px;
    z-index: 1;
    background-color: #fff;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 8px;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 8px 19.5px;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.header .active a,
.header .nav a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .action .sign-in {
    color: #494949;
    font-size: 1.6rem;
}

.header .action .sign-in:hover {
    text-decoration: underline;
}

.header .action .sign-up {
    display: inline-block;
    margin-left: 24px;
    text-align: center;
    min-width: 108px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid currentColor;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.header .action .sign-up:hover {
    outline: 2px solid;
}

/* ============================== Hero ============================= */
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .body .info {
    width: 51%;
}

.hero .info .text {
    color: #767e7e;
    font-size: 1.4rem;
    line-height: 1.5;
}

.hero .info .heading {
    margin-top: 18px;
}

.hero .info .desc {
    max-width: 360px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .info .wrap {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .info .btn {
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 68px;
    text-align: center;
}

.hero .info .play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .info .play:hover {
    opacity: 0.8;
}

.hero .body .image {
    position: relative;
    width: 49%;
    height: 631px;
}

.hero .image .img {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.hero .image .courses {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    padding: 18px 25px;
    width: 157px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .courses .icons {
    position: relative;
}

.hero .courses .icons .icon {
    position: absolute;
    left: 4px;
    bottom: 8px;
}

.hero .courses .subtitle {
    margin-left: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.hero .schedules {
    position: absolute;
    bottom: 46px;
    left: -65px;
    width: 124px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .schedules .subtitle {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.hero .schedules .icons {
    margin-top: 16px;
}

.hero .schedules .icon {
    display: block;
    margin: 0 auto;
}

.hero .schedules .icon:nth-child(2) {
    margin-top: 12px;
}
.hero .schedules .icon:nth-child(3) {
    margin-top: 12px;
}

.hero .schedules .icon:last-child {
    margin-top: 16px;
}

.hero .student {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    width: 207px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .student .subtitle {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .student .avatars {
    display: flex;
    margin-top: 8px;
}

.hero .student .avatar {
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .student .avatar:first-child {
    margin-left: 0;
}
.hero .student .avatar:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.hero .student .avatar span {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* ================================ Feature ============================== */
.feature {
    margin-top: 130px;
}

.popular .subtitle,
.feature .subtitle {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
}

.feature .body .heading {
    margin-top: 18px;
    width: 577px;
}

.feature .body .desc {
    margin-top: 18px;
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.5;
}

.feature .body .container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    max-width: 1024px;
}

.feature .container .item {
    max-width: 22%;
}

.feature .container .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 106px;
    background-color: #ffc147;
    border-radius: 18px;
}

.feature .item:nth-child(2) .icon {
    background-color: #ff947a;
}

.feature .item:nth-child(3) .icon {
    background-color: #bf83ff;
}

.feature .container .heading {
    margin-top: 26px;
}

.feature .container .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
    width: 223px;
}

/* =========================== Popular ================================= */
.popular {
    margin-top: 130px;
}

.popular .heading {
    margin-top: 18px;
}

.popular .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .row .desc {
    max-width: 525px;
    margin-top: 19px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78;
}

.popular .row .view-all {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.popular .row .view-all:hover {
    text-decoration: underline;
}

.popular .container {
    display: flex;
    padding-bottom: 124px;
    margin-top: 79px;
    gap: 47px;
}

.popular .container .item {
    position: relative;
    width: 33%;
    border-radius: 8px;
}

.popular .item .img {
    width: 100%;
    border-radius: 8px;
    height: 393px;
    object-fit: cover;
}

.popular .item .shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.popular .item .info {
    position: absolute;
    left: 17px;
    bottom: -124px;
    width: 90%;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .item .heading {
    font-size: 2.2rem;
}
.popular .item .heading a {
    color: #0d1111;
}

.popular .item .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    line-height: 1.5;
}

.popular .item .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: 1.5;
}

.popular .item .wrap {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-left: 16px;
}

.popular .item .text {
    position: relative;
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: 1.5;
}

.popular .item .text::before {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* ========================== StatsSection ============================ */
.statssection {
    margin-top: 265px;
}

.statssection .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 862px;
    width: calc(100% - 42px);
}

.statssection .item .number {
    color: #0d1111;
    text-align: center;
    font-family: Poppins;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.statssection .item .title {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
}
